body {
  background-color: #444;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #aaa;
  border: none;
  height: 100%;
}

input {
  border: 2px solid black;
  border-radius: 5px;
  height: 3em;
  margin: 0 20px;
}

input[type="text"], textarea {
  background-color : #444; 
}

input, select, textarea{
    color: white;
}

textarea:focus, input:focus {
    color: white;
}

.paused {
  visibility: hidden;
}

.control-icon {
  font-size: 3em;
}

#console {
  background-color: #aaa;
  border: 2px solid orange;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

#myCanvas {
  background-color: #eee;
  border: 2px solid orange;
  border-radius: 10px;
  margin: 2em;
  width: 80%;
}

#tickOnce {
	visibility: hidden;
}